* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  background: #000;
}

.Mainwrapper{
  min-height: 100vh;
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #000;
  background-image: url('assets/season1.jpeg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  transition: 0.3s ease-out;
}

.Mainwrapper.season1{  background-image: url('assets/season1.jpeg'); }
.Mainwrapper.season2{  background-image: url('assets/season2.gif'); background-position: 55% bottom; }
.Mainwrapper.season3{  background-image: url('assets/season3.gif'); background-position: 69% bottom;}
.Mainwrapper.season4{  background-image: url('assets/season4.jpeg'); }